ontology/ontology.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT root (object, action, property, other)>
<!ELEMENT object (perceivable, abstract)>
<!ELEMENT action (entity)>
<!ELEMENT property (entity)>
<!ELEMENT other (entity)>
<!ELEMENT perceivable (entity)>
<!ELEMENT abstract (entity)>
<!ELEMENT entity (form, meaning)>
<!ELEMENT form (#PCDATA)>
<!ELEMENT meaning (#PCDATA)>
